.signup_wrapper,
.login_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_form,
.login_form {
  background-color: transparent;
  padding: 2rem;
  width: 320px;
}

.signup_heading,
.login_heading {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--color-text);
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--color-text-light);
}

.form__input {
  padding: 1rem;
  background-color: transparent;
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border);
  color: var(--color-input-text);
  margin-top: 0.3rem;
}
.form__input:focus {
  outline: 1px solid var(--color-primary);
  border-color: var(--color-primary);
}

.form__submit {
  width: 100%;
  margin-top: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
}

button.form__submit {
  padding: 1rem;
  border-radius: var(--radius-lg);
}

.form__submit:hover {
  background-color: var(--color-primary-hover);
}

button.auth_toggle__btn {
  color: var(--color-white);
}

.form__error {
  color: var(--color-error);
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
